<% layout("./boilerplate.ejs")%>

    <div class="container">
        <a href="/recipes">Back</a>
        <h1>
            <%= recipe.name %>
        </h1>

        <h2>Ingredients</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ingredient</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Unit</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% let count=1; %>
                    <% for(let ingredient of recipe.ingredients){ %>
                        <tr>
                            <th scope="row">
                                <%= count %>
                            </th>
                            <td class="name-col">
                                <%= ingredient.name %>
                            </td>
                            <td class="quantity-col">
                                <%= ingredient.quantity %>
                            </td>
                            <td class="unit-col">
                                <%= ingredient.unit %>
                            </td>
                            <td>
                                <button class="btn edit-ingred-btn" type="button" class="btn btn-primary"
                                    data-bs-toggle="modal" data-bs-target="#ingredientModal"
                                    ingredient="<%= ingredient.name %>">
                                    &#9998;
                                </button>
                            </td>
                        </tr>
                        <% count++; %>
                            <% } %>
            </tbody>
        </table>

        <!-- Modal -->
        <div class="modal fade" id="ingredientModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 id="name-heading" class="modal-title fs-5" id="exampleModalLabel"> Ingredient
                        </h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row g-2">
                            <div class="col-md">
                                <div class="form-floating">
                                    <input id="quantity-input" type="number" class="form-control"
                                        placeholder="Quantity">
                                    <label for="quantity-input">Quantity</label>
                                </div>
                            </div>
                            <div class="col-md">
                                <div class="form-floating">
                                    <input id="unit-input" type="text" class="form-control" placeholder="Unit">
                                    <label for="quantity-input">Unit</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="submit-button" type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>

        </div>


        <h2>Method
        </h2>
        <p id="method-text" style="white-space: pre-line;">
            <%- recipe.method %>
        </p>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#methodModal">
            Edit Method
        </button>
        <form class="mt-5" ethod="POST" action="/recipes/<%=recipe.slug %>?_method=DELETE">
            <button class="btn btn-danger" type="submit">Delete Recipe</button>
        </form>

        <!-- Method Modal -->
        <div class="modal fade" id="methodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Method</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/recipes/<%= recipe.slug %>/update-method" method="POST">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Write method here" name="method"
                                    id="floatingTextarea" style="height:300px;"><%= recipe.method %></textarea>
                                <label for="floatingTextarea">Method</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>